body{
    background-image: url(./photos/fond.jpg);
    color: white;
    background-size: cover;  
}

#app{
    padding-top: 25px;
}

#title{
    background-color: #2E3532;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 70px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 8px;
}

#button{
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 150px;
}

#text{
    margin-left: 400px;
}

#weather{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 200px;
}





#text {
    background: #fff;
    border: 4px solid #fff;
    padding: 10px 10px;
    width: 250px;
    }
    





button {
    display: inline-block;
    background-color: #2E3532;
    border-radius: 20px;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
    button:hover {
    background-color: #A0AAB2;
    }
    button:hover span {
    padding-right: 25px;
    }
    button:hover span:after {
    opacity: 1;
    right: 0;
    }







.pluie{
    background-image: url(./photos/pluie.jpg);
    background-size: cover;  
}

.orage{
    background-image: url(./photos/orage.jpg);
    background-size: cover;  
}

.soleil{
    background-image: url(./photos/soleil.jpg);
    background-size: cover;  
}

.nuagePluie{
    background-image: url(./photos/nuagePluie.jpg);
    background-size: cover;  
}

.nuageSoleil{
    background-image: url(./photos/nuageSoleil.jpg);
    background-size: cover;  
}